@include breakpoint($g-wide) {
  
  // Zen Variable Overrides
  $zen-column-count: 6;
  $zen-grid-width: $wide;
    
  .container {
    @include zen-grid-container;
    @include zen-grid-item(6,1);
    @include zen-float(none);
    margin: auto;
    padding: 1em;
  }
  
  left.narrow {
    @include zen-grid-item(2, 1);
  }
  right.wide {
    @include zen-grid-item(4, 2);
  }
  
  left.wide {
    @include zen-grid-item(4, 1);
  }
  right.narrow {
    @include zen-grid-item(2, 5);
  }
  
}